.container {
  padding: 0 2rem;
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.search input[type=text]{
  width:490px;
  height:35px;
  border-color: black;
  align-items: center;
}

.search{
  margin:7px;
  border-color: black;
  display: flex;
align-items: center;
justify-content: center;
}

.carding{
  max-width: 540px; 
  margin: 0 auto; 
  float: none;
  margin-bottom: 10px; 
}


/* styling navlist */

#navlist {
  background-color: #0074D9;
  position: absolute;
  width: 100%;
}

/* styling navlist anchor element */
#navlist a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
}
.navlist-right{
  float:right;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
  background-color: #ddd;
  color: black;
}

/* styling search bar */
.search input[type=text]{
  width:500px;
  height:35px;
  border-color: black;
  align-items: center;
}

.search{
  margin:7px;
  border-color: black;
  display: flex;
align-items: center;
justify-content: center;
}

.card {
  margin: 0 auto; 
  float: none;
  margin-bottom: 10px; 
}

.search button{
  background-color: #0074D9;
  color: #f2f2f2;
  font-size: 12px;
  height:35px;
  border: none;
  cursor: pointer;
}

.cover{
  align-items: center;
   margin-top: .5rem;
   padding-right: 2rem;
   padding-left: 2rem;
}

.image{
  width: 220px;
  height: 160px;
  border: 1px solid gainsboro;
  padding: 0;
  margin-top: 1rem;
  justify-content: space-between;
}

.nei{
  border: .5px solid gray;

  padding-left: 5px;

  margin-left: 8.5em;

  margin-right: 8.5em;

  width: 58rem

}

.no{
  color: #0074D9;
}

.demo{
  align-items: center;
   margin-top: 4rem;
}

.heading{
  margin-left: 2rem;
   margin-top: 1rem; 
   margin-bottom: 1rem;
}

.row{
  display: flex;
}

#demo{
 border: none;
}

.btn{
  margin-right: 15px;
  background-color: white;
  border-color: blue;
  color: blue;
}

.images{
 margin-top: 1rem;
 margin-left: 1rem;
}